# Prerequisites
*.d
*.jam
*.texi
*.pod
*.fate
*.log
*.ver
*.def
*.version

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.pc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 特定目录下的特定文件
sdk/3rdparty/ffmpeg-4.4.4/config.h
sdk/3rdparty/ffmpeg-4.4.4/ffbuild/.config
sdk/3rdparty/ffmpeg-4.4.4/ffbuild/config.mak
sdk/3rdparty/ffmpeg-4.4.4/ffbuild/config.sh
sdk/3rdparty/ffmpeg-4.4.4/libavcodec/bsf_list.c
sdk/3rdparty/ffmpeg-4.4.4/libavcodec/codec_list.c
sdk/3rdparty/ffmpeg-4.4.4/libavcodec/parser_list.c
sdk/3rdparty/ffmpeg-4.4.4/libavdevice/indev_list.c
sdk/3rdparty/ffmpeg-4.4.4/libavdevice/outdev_list.c
sdk/3rdparty/ffmpeg-4.4.4/libavfilter/filter_list.c
sdk/3rdparty/ffmpeg-4.4.4/libavformat/demuxer_list.c
sdk/3rdparty/ffmpeg-4.4.4/libavformat/muxer_list.c
sdk/3rdparty/ffmpeg-4.4.4/libavformat/protocol_list.c
sdk/3rdparty/ffmpeg-4.4.4/libavutil/avconfig.h
sdk/3rdparty/ffmpeg-4.4.4/libavutil/ffversion.h

# 特定目录不忽略
!sdk/3rdparty/dist/windows_x86_64_gcc/bin/*.dll
!sdk/3rdparty/dist/windows_x86_64_gcc/bin/*.lib
!sdk/3rdparty/dist/windows_x86_64_gcc/lib/*.def
!sdk/3rdparty/dist/windows_x86_64_gcc/lib/*.dll
!sdk/3rdparty/dist/windows_x86_64_gcc/lib/*.a
!sdk/3rdparty/dist/linux_x86_64_gcc/bin/*.so
!sdk/3rdparty/dist/linux_x86_64_gcc/bin/*.lib
!sdk/3rdparty/dist/linux_x86_64_gcc/lib/*.def
!sdk/3rdparty/dist/linux_x86_64_gcc/lib/*.so
!sdk/3rdparty/dist/linux_x86_64_gcc/lib/*.a

# folders
.vscode
build
sdk/3rdparty/ffmpeg-4.4.4